data/raw/*
data/processed/images/*
*.jsonl
*.json
*.png
data/processed/metadata_10k.csv
.env

# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Data (Cap3D assets, metadata, etc.)
data/

# macOS
.DS_Store
